* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fbfbff, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #006eff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-box button:hover {
    background: #5a67d8;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

#test:hover {


    transform: translateY(30px);
    box-shadow: 0 10px 20px rgba(21, 0,





}